{% extends 'base.html' %}

{% block body %}
<div class='container main'>

    <div class='col-lg-2'>
        <ul class='list-group'>
            {% for items in  goods %}
                '/media/{{ items.GoodsPicture }}'
                <img src='/static/media/{{items.GoodsPicture }}' >
                <!--<li class='list-group-item'> <img src='/media/{{items.GoodsPicture}}' > </li>-->
                <li>----------------------</li>
            {% endfor %}
        </ul> 
    </div>



</div>

{% endblock %}
