{% extends 'base.html' %}

{% block body %}
<div class='container main'>

    <table class='table table-striped table-hover'>
        {% for item in  goods %}
            <div class='classTable'>
                <tr>
                    <th><a href='/goods/item/{{item.id}}'><img src='/static/media/{{item.GoodsPicture }}' height='240', width='200'></a></th>
                    <th>商品名字: {{item.GoodsName }}</th>
                    <th>商品价格: {{item.GoodsPrice }}</th>
                    <th>商品数量: {{item.GoodsAmount }}</th>
                </tr>
            </div>
        {% endfor %}
    </table>



</div>

{% endblock %}
