{% extends 'base.html' %}

{% block body %}
<div class='container main'>

    <table class='table table-striped table-hover'>
        {% for items in  goods %}
            <div class='classTable'>
                <tr>
                    <th><img src='/static/media/{{items.GoodsPicture }}' height='240', width='200'></th>
                    <th>商品名字: {{items.GoodsName }}</th>
                    <th>商品价格: {{items.GoodsPrice }}</th>
                    <th>商品数量: {{items.GoodsAmount }}</th>
                </tr>
            </div>
        {% endfor %}
    </table>



</div>

{% endblock %}
